@keyframes shimmer {
    0% {
        background-position: -4rem top; /*50px*/
    }

    100% {
        background-position: 12.5rem top; /*200px*/
    }
}

/*Variables*/
:root {
	--font-color: rgb(203, 121, 39);
}


* {
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	height: 100vh;
	font-family: 'Charm', serif;
	background: url('../images/for_web/violet_wall.jpg') no-repeat top center fixed;
	background-size: cover;
}

.start, .shows, .gallery, .foto, .video, .about, .contact {
	display: none;
}

.active {
	display: block;
}

/*Header*/

header {
	width: 100%;
	max-height: 15vh;
	padding: 5% 0;
}

.navbar {
	position: fixed;
	top: 0;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.2);
	font: lighter 2.6rem 'Charm', serif;
}

.nav {
	width: 70%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	list-style-type: none;
}

.navbar__item {
	padding: 2%;
}

.navbar__link {
	height: 50%;
	width: 100%;
	white-space: nowrap;
	color: var(--font-color);
	text-decoration: none;
}


/*shimmer effct from https://codepen.io/redouglas/pen/gobsm*/

.navbar__link:hover {
  color: var(--font-color);
  text-decoration: none;
  background: var(--font-color) -webkit-gradient(linear, 100% 0, 0 0, from(var(--font-color)), color-stop(0.5, rgb(249, 199, 117)), to(rgb(249, 199, 117)));
  background-position: -4rem top; /*50px*/
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation-name: shimmer;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-background-size: 4rem 100%; /*50px*/

}

.navbar__link:active {
  color: var(--font-color);
  text-decoration: none;
  background: var(--font-color) -webkit-gradient(linear, 100% 0, 0 0, from(var(--font-color)), color-stop(0.5, rgb(249, 199, 117)), to(rgb(249, 199, 117)));
  background-position: -4rem top; /*50px*/
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation-name: shimmer;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-background-size: 4rem 100%; /*50px*/
}

.gallery__nav {
	display: none;
	position: absolute;
	list-style-type: none;
}

#gallery:hover .gallery__nav {
	display: block;
	padding-left: 0;
}

/*Main*/

main, section, div {
	margin-top: 0;
}

.content {
	height: 100vh;
}

.overlay {
	display: inline-block;
	text-align: center;
	margin-top: 8%;
	background-color: rgba(0, 0, 0, 0.2);
}

h1 {
	padding: 2%;
	display: inline-block;
	color: var(--font-color);
	/*color: transparent;*/
	background: var(--font-color) -webkit-gradient(linear, 10% 0, 0 0, from(var(--font-color)), color-stop(0.5, rgb(242, 169, 101)), to(rgb(249, 199, 117)));
  	background-position: -4rem top; /*50px*/
  	background-repeat: repeat;
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
  	-webkit-animation-name: shimmer;
  	-webkit-animation-delay: 1s;
  	-webkit-animation-duration: 2.2s;
  	-webkit-animation-iteration-count: infinite;
  	-webkit-background-size: 13rem 20%; /*50px*/
}

h1 {
	font-size: 5.5em;
	font-weight: 200;
}

h2 {
	padding: 3%;
	display: inline-block;
	color: var(--font-color);
	font-size: 2em;
	font-weight: 200;
	margin-top: 0;
	margin-bottom: 0;
}

/*Shows*/

.shows {
	color: var(--font-color);
	width: 70%;
	margin: 0 auto;
}

.show-section-container {
	display: flex;
	flex-direction: row;
}

.show-section-container-image {
	align-self: center;
}

.show-section-container-text:first-of-type {
	margin-right: 5%;
}

.show-section-container-text:nth-of-type(2) {
	margin-left: 5%;
}

.shows p, .shows li {
	font-size: 1em;
	font-family: Palatino;
	line-height: 1.5em;
}

.shows ul {
	list-style-type: none;
	padding-left: 0;
}

.shows li:before {
  content: "\2605   ";
}

.shows h3 {
	font-size: 3em;
	text-align: center;
	font-weight: normal;
}

.shows h4 {
	font-size: 1.5em;
	font-weight: normal;
}

img[src*="star"] {
	shape-outside: url(images/for_web/star.jpg);
	-webkit-shape-outside: url(images/for_web/star.jpg);
}

img[src*="floor"] {
	margin: 0 auto;
}

/*Gallery*/

.title-container {
	display: flex;
	justify-content: center;
}

.title-container h2 {
	font-size: 3em;
}

.fotos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.video-container {
	position: relative;
	height: 70vh;
	width: 70vw;
	margin: auto;
	margin-bottom: 2em;
}

.video-container iframe {
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
}

img {
	margin: 5px;
	transition: all 1.5s;
}

img[src*="gallery"]:hover {
	transform: scale(1.4);
}


/*Contact*/

.contact-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.img-container {
	display: inline-block;
	text-align: center;
	width: 50%;
	margin-left: 10%;
}

.contact-details {
	color: var(--font-color);
	font-size: 2em;
	background-color: rgba(0, 0, 0, 0.2);
	width: 50%;
	margin-right: 10%;
	height: 40%;
	font-weight: 100;
	text-align: center;
}

.contact-detail p {
	margin-top: 0;
}

p {
	font-size: 0.7em;
}

a, a:hover {
	color: var(--font-color);
	text-decoration: none;
}


.fa, .fab {
	min-height: 25px;
	font-weight: 800;
}

.fab[class*="facebook"] {
	margin-right: 5%;
}

.fab[class*="youtube"] {
	margin-left: 5%;
}

.fab:hover, .fa:hover {
	transform: scale(1.5);
}

/*Media queries*/

@media screen and (max-width: 930px) {
	h1 {
		font-size: 4em;
	}

	h2 {
		font-size: 2em;
	}

	.overlay {
		margin-top: 10%;
	}

	.nav {
		padding-left: 0;
	}

	.navbar {
		font-size: 2em;
	}

	.show-section-container {
		flex-direction: column;
	}

	.contact-details {
		font-size: 2em;
		margin: 0 auto;
	}

}

@media screen and (max-width: 420px) {
	h1 {
		font-size: 2em;
	}

	h2 {
		font-size: 2em;
	}

	.navbar {
		flex-direction: column;
	}

	.nav {
		flex-direction: column;
		font-size: 1em;
	}

	.gallery__nav {
		position: static;
	}

	.overlay {
		display: none;
	}

	.img-container {
		margin: 0 auto;
		width: auto;
	}

	.contact-container {
		flex-direction: column;
	}

	.contact-details {
		width: auto;
	}
}

