* {
  box-sizing: border-box; }

/*VARIABLES*/
.flex-row, .contact-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }

.plain-text, .shows p, .shows li {
  font-size: 1em;
  font-family: Palatino;
  line-height: 1.5em; }

/*shimmer effct from https://codepen.io/redouglas/pen/gobsm*/
@keyframes shimmer {
  0% {
    background-position: -4rem top;
    /*50px*/ }
  100% {
    background-position: 12.5rem top;
    /*200px*/ } }
/*HEADER*/
.header {
  width: 100%;
  max-height: 15vh;
  padding: 5% 0; }

@media screen and (max-width: 420px) {
  .header--section {
    max-height: none; } }

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  font: lighter 2.6rem 'Charm', serif; }
  @media screen and (max-width: 930px) {
    .navbar {
      font-size: 2em; } }
  @media screen and (max-width: 930px) and (max-width: 420px) {
    .navbar {
      flex-direction: column; } }

  @media screen and (max-width: 420px) {
    .navbar--section {
      flex-direction: row;
      position: static; } }
  .navbar__items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    list-style-type: none; }
    @media screen and (max-width: 930px) {
      .navbar__items {
        padding-left: 0; } }
  @media screen and (max-width: 930px) and (max-width: 420px) {
    .navbar__items {
      flex-direction: column;
      font-size: 1em; } }

  .navbar__gallery {
    display: none;
    position: absolute;
    list-style-type: none; }
    @media screen and (max-width: 420px) {
      .navbar__gallery {
        position: static; } }
  .navbar__item {
    padding: 2%; }
  .navbar__link {
    height: 50%;
    width: 100%;
    white-space: nowrap;
    color: #cb7927;
    text-decoration: none; }
    .navbar__link:hover, .navbar__link:active {
      color: #cb7927;
      text-decoration: none;
      background: #cb7927 -webkit-gradient(linear, 100% 0, 0 0, from(#cb7927), color-stop(0.5, #f9c775), to(#f9c775));
      background-position: -4rem top;
      /*50px*/
      background-repeat: no-repeat;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-animation-name: shimmer;
      -webkit-animation-duration: 2s;
      -webkit-animation-iteration-count: infinite;
      -webkit-background-size: 4rem 100%;
      /*50px*/ }

#gallery:hover .navbar__gallery {
  display: block;
  padding-left: 0; }

/*TEXT*/
h1 {
  display: inline-block;
  font-size: 5.5em;
  font-weight: 200;
  padding: 2%;
  color: #cb7927;
  background: #cb7927 -webkit-gradient(linear, 10% 0, 0 0, from(#cb7927), color-stop(0.5, #f2a965), to(#f9c775));
  background-position: -4rem top;
  /*50px*/
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation-name: shimmer;
  -webkit-animation-delay: 1s;
  -webkit-animation-duration: 2.2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-background-size: 13rem 20%;
  /*50px*/ }
  @media screen and (max-width: 930px) {
    h1 {
      font-size: 4em; } }
  @media screen and (max-width: 420px) {
    h1 {
      font-size: 2em; } }

h2 {
  padding: 3%;
  display: inline-block;
  color: #cb7927;
  font-size: 2em;
  font-weight: 200;
  margin-top: 0;
  margin-bottom: 0; }
  @media desktop {
    h2 {
      font-size: 2em; } }

.flex-row, .contact-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }

.plain-text, .shows p, .shows li {
  font-size: 1em;
  font-family: Palatino;
  line-height: 1.5em; }

/*shimmer effct from https://codepen.io/redouglas/pen/gobsm*/
@keyframes shimmer {
  0% {
    background-position: -4rem top;
    /*50px*/ }
  100% {
    background-position: 12.5rem top;
    /*200px*/ } }
/*SHOWS*/
.shows {
  color: #cb7927;
  width: 70%;
  margin: 0 auto; }
  .shows h3 {
    font-size: 3em;
    text-align: center;
    font-weight: normal; }
  .shows h4 {
    font-size: 1.5em;
    font-weight: normal; }
  .shows ul {
    list-style-type: none;
    padding-left: 0; }
  .shows li:before {
    content: "\2605   "; }

.show-section-container {
  display: flex;
  flex-direction: row; }
  @media screen and (max-width: 930px) {
    .show-section-container {
      flex-direction: column; } }
  .show-section-container__image {
    align-self: center; }
    .show-section-container__image img[src*="star"] {
      shape-outside: url(images/for_web/star.jpg);
      -webkit-shape-outside: url(images/for_web/star.jpg); }
    .show-section-container__image img[src*="floor"] {
      margin: 0 auto; }
  .show-section-container__text:first-of-type {
    margin-right: 5%; }
  .show-section-container__text:nth-of-type(2) {
    margin-left: 5%; }

/*GALLERY*/
.title-container {
  display: flex;
  justify-content: center; }
  .title-container h2 {
    font-size: 3em; }

.fotos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .fotos-container img {
    margin: 5px;
    transition: all 1.5s; }
  .fotos-container img[src*="gallery"]:hover {
    transform: scale(1.4); }

.video-container {
  position: relative;
  height: 70vh;
  width: 70vw;
  margin: auto;
  margin-bottom: 2em; }
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.flex-row, .contact-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }

.plain-text, .shows p, .shows li {
  font-size: 1em;
  font-family: Palatino;
  line-height: 1.5em; }

/*shimmer effct from https://codepen.io/redouglas/pen/gobsm*/
@keyframes shimmer {
  0% {
    background-position: -4rem top;
    /*50px*/ }
  100% {
    background-position: 12.5rem top;
    /*200px*/ } }
/*CONTACT*/
@media screen and (max-width: 420px) {
  .contact-container {
    flex-direction: column; } }

.contact-image {
  display: inline-block;
  text-align: center;
  width: 50%;
  margin-left: 10%; }
  @media screen and (max-width: 420px) {
    .contact-image {
      margin: 0 auto;
      width: auto; } }

.contact-details {
  color: #cb7927;
  font-size: 2em;
  background-color: rgba(0, 0, 0, 0.2);
  width: 50%;
  margin-right: 10%;
  height: 40%;
  font-weight: 100;
  text-align: center; }
  @media screen and (max-width: 930px) {
    .contact-details {
      font-size: 2em;
      margin: 0 auto; } }
  @media screen and (max-width: 420px) {
    .contact-details {
      width: auto; } }
  .contact-details p {
    margin-top: 0;
    font-size: 0.7em; }

a, a:hover {
  color: #cb7927;
  text-decoration: none; }

.fa, .fab {
  min-height: 25px;
  font-weight: 800; }

.fab[class*="facebook"] {
  margin-right: 5%; }

.fab[class*="youtube"] {
  margin-left: 5%; }

.fab:hover, .fa:hover {
  transform: scale(1.5); }

/*BODY, MAIN*/
body {
  margin: 0 auto;
  height: 100vh;
  font-family: 'Charm', serif;
  background: url("../images/for_web/violet_wall.jpg") no-repeat top center fixed;
  background-size: cover; }

main, section, div {
  margin-top: 0; }

.content {
  height: 100vh; }

.home, .shows, .gallery, .foto, .video, .about, .contact {
  display: none; }

.active {
  display: block; }

.overlay {
  display: inline-block;
  text-align: center;
  margin-top: 8%;
  background-color: rgba(0, 0, 0, 0.2); }
  @media screen and (max-width: 930px) {
    .overlay {
      margin-top: 10%; } }
  @media screen and (max-width: 420px) {
    .overlay {
      display: none; } }

/*# sourceMappingURL=style.css.map */
