@import url('https://fonts.googleapis.com/css?family=Charm&subset=latin-ext');

* {
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	background: url('../images/for_web/violet_wall.jpg');
	background-size: cover;
	background-position: stretch;
	background-repeat: no-repeat;
}

header {
	width: 100%;
	max-height: 20vh;
	padding-top: 5%;
	padding-bottom: 5%;
}

.navbar {
	background-color: rgba(0, 0, 0, 0.2);
	font-family: 'Charm', cursive;
	font-weight: lighter;
	font-size: 2.6rem;
}

.nav {
	flex-direction: row;
	width: 70%;
}

.navbar__item {
	padding: 2%;
}

.navbar__link {
	color: rgb(193, 96, 0);
	height: 50%;
	width: 100%;
	white-space: nowrap;
}

a:hover {
  color: rgb(193, 96, 0);
  text-decoration: none;
  background: rgb(193, 96, 0) -webkit-gradient(linear, 100% 0, 0 0, from(rgb(193, 96, 0)), color-stop(0.5, rgb(249, 199, 117)), to(rgb(249, 199, 117)));
  background-position: -4rem top; /*50px*/
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation-name: shimmer;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-background-size: 4rem 100%; /*50px*/

}

a:active {
  color: rgb(193, 96, 0);
  text-decoration: none;
  background: rgb(193, 96, 0) -webkit-gradient(linear, 100% 0, 0 0, from(rgb(193, 96, 0)), color-stop(0.5, rgb(249, 199, 117)), to(rgb(249, 199, 117)));
  background-position: -4rem top; /*50px*/
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation-name: shimmer;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-background-size: 4rem 100%; /*50px*/
}

@-webkit-keyframes shimmer {
    0% {
        background-position: -4rem top; /*50px*/
    }

    100% {
        background-position: 12.5rem top; /*200px*/
    }
}

main, section, div {
	margin-top: 0;
}

.content {
	min-height: 80%;
}

.jumbotron {
	background-color: transparent;
}

.overlay {
	background-color: rgba(0, 0, 0, 0.2);
	width: 40%;
	height: 40%;
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	font-weight: 100;
	text-align: center;
	position: relative;
}

h1 {
	padding: 5%;
	font-size: 5em;
	display: inline-block;
	color: rgb(193, 96, 0);
	background: rgb(193, 96, 0) -webkit-gradient(linear, 10% 0, 0 0, from(rgb(193, 96, 0)), color-stop(0.5, rgb(242, 169, 101)), to(rgb(249, 199, 117)));
  	background-position: -4rem top; /*50px*/
  	background-repeat: repeat;
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
  	-webkit-animation-name: shimmer;
  	-webkit-animation-duration: 2.2s;
  	-webkit-animation-iteration-count: infinite;
  	-webkit-background-size: 13rem 20%; /*50px*/
}

@media screen and (max-width: 930px) {
	h1 {
		font-size: 4em;
	}

	.navbar {
		font-size: 2em;
	}
}

@media screen and (max-width: 420px) {
	h1 {
		font-size: 2em;
	}

	.logo {
		height: 50px;
		width: 80px;
	}

	.navbar {
		font-size: 0.8em;
		background-color: rgba(0, 0, 0, 0.2);
	}
}
