/*HEADER*/

.header {
	width: 100%;
	max-height: 15vh;
	padding: 5% 0;
}

.header--section {
	@media #{$mobile} {
		max-height: none;
	}
}

.navbar {
	// use mixin here
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	position: fixed;
	top: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	font: lighter 2.6rem 'Charm', serif;

	@media #{$desktop} {
		font-size: 2em;

		@media #{$mobile} {
			flex-direction: column;
		}
	}

	&--section {
		@media #{$mobile} {
			flex-direction: row;
			position: static;
		}
	}

	&__items {
		// use mixin here
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		width: 70%;
		list-style-type: none;

		@media #{$desktop} {
			padding-left: 0;

			@media #{$mobile} {
				flex-direction: column;
				font-size: 1em;
			}
		}
	}

	&__gallery {
		display: none;
		position: absolute;
		list-style-type: none;

		@media #{$mobile} {
			position: static;
		}
	}

	&__item {
		padding: 2%;
	}

	&__link {
		height: 50%;
		width: 100%;
		white-space: nowrap;
		color: $base-color;
		text-decoration: none;

		&:hover, &:active {
			color: $base-color;
			text-decoration: none;
			background: $base-color -webkit-gradient(linear, 100% 0, 0 0, from($base-color), color-stop(0.5, rgb(249, 199, 117)), to(rgb(249, 199, 117)));
			background-position: -4rem top; /*50px*/
			background-repeat: no-repeat;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			-webkit-animation: shimmer 2s infinite;
			-webkit-background-size: 4rem 100%; /*50px*/
		}
	}
}

#gallery:hover .navbar__gallery {
	display: block;
	padding-left: 0;
}

.navbar__gallery[aria-hidden="false"]  {
	display: block;
	padding-left: 0;
}