/*TEXT*/

h1 {
  display: inline-block;
  font-size: 5.5em;
  color: $base-color;
  font-weight: 200;
  padding: 2%;

  @media #{$desktop} {
    font-size: 4em;
  }

  @media #{$mobile} {
    font-size: 2em;
  }
}

h2 {
  padding: 3%;
  display: inline-block;
  color: $base-color;
  font-size: 2em;
  font-weight: 200;
  margin-top: 0;
  margin-bottom: 0;

  @media #{desktop} {
    font-size: 2em;
  }
}

.plain-text {
  font-size: 1rem;
  font-family: "Lora", serif;
  line-height: 1.5em;
  text-align: left;
}

.list-text {
  font-size: 1rem;
  font-family: "Lora", serif;
  line-height: 1.5em;
  text-align: start;
}
